
<app-creator-nav></app-creator-nav>
<div class="container-fluid" style="background-color:#F6FFF1;">
  <div class="row">
    <app-creator-left></app-creator-left>

    <main role="main" style="
    min-height: 750px;
" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      
       <h2 style="margin-top: 100px; color: black;">My Events</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>event_name</th>
              <th>event_description</th>
              <th>total_number_of_attendee</th>
              <th>event_venue</th>
              <th>event_date</th>
              <th>registration_closing_date</th>
              <th>event_startdate</th>
              <th>event_enddate</th>
              <th>Status</th>
              <th>View</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of events">
            <td>{{event.event_name}}</td>
            <td>{{event.event_description}}</td>
            <td>{{event.total_number_of_attendee}}</td>
            <td>{{event.event_venue}}</td>
            <td>{{event.event_date}}</td>
            <td>{{event.registration_closing_date}}</td>
            <td>{{event.event_startdate}}</td>
            <td>{{event.event_enddate}}</td>
            <td>{{event.free_or_paid_event}}</td>
            <td><a [routerLink]="['/creator/event/view/', event.id]" >here</a></td>
            </tr>
            
          </tbody>
        </table>
      </div>

       
    </main>
  </div>
</div>
 
